# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_port: ~
    mailer_user: ~
    mailer_password: ~
    mailer_from: ~

    web_socket_host: 127.0.0.1
    web_socket_port: 8080

    secret: ThisTokenIsNotSoSecretChangeIt

    media_upload_dir: '%kernel.root_dir%/../web/uploads'
    archive_temp_dir: '%kernel.root_dir%/../web/uploads/temp'
    control_panel_buttons_yaml_dir: '%kernel.root_dir%/config/custom/control_panel_buttons.yml'
    thumbnail_size:
        - 120
        - 90
